.YN1 {
    box-sizing: border-box;
    text-align: center;
    color: #e4651f;
    border-radius: 50px;
    background: black;
    width: 150px;
    padding: 10px 5px 10px 5px ;
    border: 3px solid #e4651f;
    margin: 200px 250px 10px 250px;


}
.YN2 {
    box-sizing: border-box;
    text-align: center;
    color: #31e3d7;
    border-radius: 50px;
    background: black;
    width: 150px;
    padding: 10px 5px 10px 5px ;
    border: 3px solid #31e3d7;
    margin: 10px 250px 0px 250px;

}
.YN3 {
    box-sizing: border-box;
    text-align: center;
    color: #ff54a6;
    border-radius: 50px;
    background: black;
    width: 150px;
    padding: 10px 5px 10px 5px ;
    border: 3px solid #ff54a6;
    margin: 10px 250px 0px 250px;

}
.YN4 {
    box-sizing: border-box;
    text-align: center;
    color: #ff3e3e;
    border-radius: 50px;
    background: black;
    width: 150px;
    padding: 10px 5px 10px 5px ;
    border: 3px solid #ff3e3e;
    margin: 10px 250px 0px 250px;


}