.less {
    box-sizing: border-box;
    text-align: center;
    color: #f7eecf;
    background: #892825;
    margin: 10px 0px 10px 0px;
}
.lorem1 {
    box-sizing: border-box;
    background: #c0c0c0;
    padding: 15px;

}
.lorem2 {
    box-sizing: border-box;
    background: #6395ec;
    padding: 30px 0px 30px 0px;

}
.pic1 {
    box-sizing: border-box;
    background: #6bba67;
    height: 200px;
    width: 200px;

}
.pic2 {
    box-sizing: border-box;
    background: #8886ab;
    height: 200px;
    width: 200px;
    border-radius: 20px;

}