* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --black-color: #000;
    --darkblue-color: #0B2330;
    --yellow-color: #F9C600;
    --grey-blue-color: #375361
}
.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 36px;
}
.txt_logo {
    font-size: 12px;
    line-height: 16px;
    color: var(--black-color);
}
.nav_menu {
    display: flex;
    column-gap: 48px;
}
.nav_menu__item a {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black-color);
    text-decoration: none;
}
i {
    border: solid var(--black-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}
.arrow {
    transform: rotate(45deg);
    margin-left: 8px;
}
.nav_menu_button {
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.nav_button {
    height: 54px;
    width: 163px;
    background: var(--darkblue-color);
    border: 1px solid var(--darkblue-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.part2 {
    display: flex;
}
.img_part2_yellow {
    position: relative;
}
.img_part2_onyellow {
    position: absolute;
    left: -100px;
    top: 173px;
}
.part2_content {
    padding: 154px 147px 256px 147px;
}
.part2_title {
    width: 436px;
    height: 256px;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: var(--darkblue-color);
    margin-bottom: 32px;
}
.part2_txt {
    font-size: 22px;
    line-height: 32px;
    color: var(--grey-blue-color);
    margin-bottom: 38px;
}
.part2_button {
    display: flex;
    column-gap: 16px;
}
.btn_part2_yellow {
    width: 163px;
    height: 54px;
    background: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: var(--darkblue-color);
    cursor: pointer;
}
.btn_part2_white {
    width: 156px;
    height: 54px;
    border: 1px solid var(--darkblue-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    cursor: pointer;
}
.part3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 189px;
}
.part3_titile {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    color: var(--darkblue-color);
    width: 547px;
    height: 96px;
}
.img_part3_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-column-gap: 82px;
    grid-row-gap: 16px;
    padding-top: 59px;
    width: 1092px;
    margin: 0 auto;
}
.part4 {
    width: 1376px;
    height: 494px;
    background: #51CEBC;
    border-radius: 10px;
    margin: 192px 32px;
    display: flex;
}
.part4_title {
    height: 120px;
    font-size: 34px;
    line-height: 40px;
    color: var(--darkblue-color);
    margin: 114px 121px 35px 20px;
}
.part4_txt {
    font-size: 22px;
    line-height: 32px;
    color: var(--darkblue-color);
    margin-left: 20px;
    margin-right: 145px;
}
.part5 {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part5_title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: var(--darkblue-color);
    width: 711px;
    height: 80px;
    margin-bottom: 57px;
}
.btn_part5 {
    width: 163px;
    height: 54px;
    background: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: var(--darkblue-color);
    margin-top: 113px;
}
.part6 {
    width: 1260px;
    height: 537px;
    background: #BD78F0;
    border-radius: 10px;
    display: flex;
    margin: 160px 32px 136px 148px;
}
.img_part6 {
    position: relative;
    left: -116px;
    top: 64px;
}
.part6_title {
    font-size: 42px;
    line-height: 48px;
    color: var(--darkblue-color);
    height: 192px;
    width: 485px;
    margin-top: 103px;
}
.part6_txt {
    font-size: 17px;
    line-height: 28px;
    color: var(--darkblue-color);
    margin-top: 39px;
    height: 56px;
    width: 550px;
}
.part7 {
    margin-left: 148px;
}
.subtitle7 {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #6A7981;
}
.part7_title {
    width: 593px;
    height: 144px;
    font-size: 42px;
    line-height: 48px;
    color: var(--darkblue-color);
    margin-top: 13px;
    margin-bottom: 26px;
}
.part7_txt {
    height: 32px;
    font-size: 22px;
    line-height: 32px;
    color: var(--grey-blue-color);
    margin-bottom: 219px;
}
.part8 {
    margin-left: 148px;
    display: flex;
    flex-direction: column;
    row-gap: 120px;
}
.part8_content_img {
    display: flex;
    column-gap: 263px;
}
/*.part8_content {*/
/*    width: 513px;*/
/*    height: 348px;*/
/*}*/
.img_part8 {
    width: 513px;

}
.part8_title {
    font-size: 34px;
    line-height: 40px;
    color: var(--darkblue-color);
    height: 40px;
    width: 500px;
    margin-top: 23px;
    margin-bottom: 29px;
}
.part8_txt {
    font-size: 17px;
    line-height: 28px;
    color: var(--grey-blue-color);
    height: 112px;
    width: 400px;
    margin-bottom: 64px;
}
.btn_part8 {
    width: 144px;
    height: 54px;
    border: 1px solid var(--darkblue-color);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
}
.nav_menu__item_part8 {
    display: flex;
    column-gap: 8px;
    margin-top: 21px;
}
.nav_menu_part8_item1 {
    width: 228px;
    height: 23px;
    background: #E7EAEB;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #61757E;
    border: none;
}
.nav_menu_part8_item2 {
    width: 147px;
    height: 23px;
    background: #E7EAEB;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #61757E;
    border: none;
}
.nav_menu_part8_item3 {
    width: 152px;
    height: 23px;
    background: #FE9F28;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    color: var(--darkblue-color);
    border: none;
}




