.width350 {
    width: 350px;
}
.width290 {
    width: 290px;
}
.width270 {
    width: 270px;
}
.width210 {
    width: 210px;
}
.width230 {
    width: 230px;
}
.width100 {
    width: 100px;
}
.width60 {
    width: 60px;
}
.width50 {
    width: 45px;
}
.width40 {
    width: 40px;
}
.height600 {
    height: 600px;
}
.height645 {
    height: 645px;
}
.height385 {
    height: 385px;
}
.height135 {
    height: 135px;
}
.height115 {
    height: 115px;
}
.height70 {
    height: 70px;
}
.height55 {
    height: 55px;
}
.height50 {
    height: 50px;
}
.height30 {
    height: 30px;
}
.height25 {
    height: 25px;
}
.height15 {
    height: 10px;
}
.bg {
    background: rgba(192, 192, 192, 0.4);
}
.border {
    box-sizing: border-box;
    border: 3px solid black;
}
.border2 {
    box-sizing: border-box;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}
.margin {
    margin-top: 10px;
}
.border3 {
    box-sizing: border-box;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
.border4 {
    box-sizing: border-box;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowgap {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
div.width230.height385 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.width60.height385 {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.column {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.row {
    display: flex;
    flex-direction: row;
}
.row5 {
    display: flex;
    flex-direction: row;
    column-gap: 245px;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 0px) and (max-width: 414px) {
    .border2 {
        display: none;
    }
    .width350 {
        width: 230px;
    }
}