.width350 {
    width: 350px;
}
.width290 {
    width: 290px;
}
.width270 {
    width: 270px;
}
.width210 {
    width: 210px;
}
.width100 {
    width: 100px;
}
.width60 {
    width: 60px;
}
.width50 {
    width: 50px;
}
.width40 {
    width: 40px;
}
.height600 {
    height: 600px;
}
.height575 {
    height: 575px;
}
.height385 {
    height: 385px;
}
.height135 {
    height: 135px;
}
.height115 {
    height: 115px;
}
.height70 {
    height: 70px;
}
.height55 {
    height: 55px;
}
.height50 {
    height: 50px;
}
.height30 {
    height: 30px;
}
.height25 {
    height: 25px;
}
.height15 {
    height: 15px;
}
