.width150 {
    width: 150px;
}
.width460 {
    width: 460px;
}
.width300 {
    width: 300px;
}
.width200 {
    width: 200px;
}
.width620 {
    width: 620px;
}
.height80 {
    height: 80px;
}
.height170 {
    height: 170px;
}
.height310 {
    height: 310px;
}
.height730 {
    height: 730px;
}
.bg {
   background: #676767;
}
.column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
div.height730.width620 {
    box-shadow: 2px 10px 8px 6px #676767;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}
p {
    text-align: center;
}
span {
    color: #cb8080;
    font-weight: bold;
}
.C {
   margin: 0 auto;
}
.no {
    display: none;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
    .no {
        display: flex;
    }
    .none {
        display: none;
        margin: 0;
    }
    .column {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .row {
        row-gap: 10px;
    }
    .TP {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .width460 {
        width: 250px;
    }
    .Z {
        width: 300px;
        height: 80px;
        display: flex;
        flex-direction: column;
    }
    .height730 {
        height: 1090px;
    }
    .Nav {
        width: 410px;
        height: 80px;
    }
    div .width300.height170 {
        width: 250px;

    }
    div.G.row {
        display: flex;
        flex-direction: column;
        column-gap: 5px;
    }
    .width300 {
        width: 410px;
    }
    .R {
        width: 410px;
        height: 170px;
    }
    div.width620.height170 {
        width: 410px;
        height: 170px;
    }
    div.height730.width620 {
        width: 410px;
        height: 1120px;
    }
}
