.width150 {
    width: 150px;
}
.width650 {
    width: 450px;
}
.width500 {
    width: 300px;
}
.width800 {
    width: 600px;
}
.height100 {
    height: 100px;
}
.height200 {
    height: 150px;
}
.height600 {
    height: 250px;
}
.bg {
   background: #676767;
}
.column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
