.width150 {
    width: 150px;
}
.width460 {
    width: 460px;
}
.width300 {
    width: 300px;
}
.width620 {
    width: 620px;
}
.height80 {
    height: 80px;
}
.height170 {
    height: 170px;
}
.height310 {
    height: 310px;
}
.height730 {
    height: 730px;
}
.bg {
   background: #676767;
}
.column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
div.height730.width620 {
    box-shadow: 2px 10px 8px 6px #676767;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
p {
    text-align: center;
}
span {
    color: #cb8080;
    font-weight: bold;
}